@import "../../colors";
@import "../../components";
@import "../../responsive";

:host {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 0 2rem;

   .dashboard {
      flex: 1 1 auto;
      display: grid;
      gap: 2rem;

      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas:
      "portrait custom"
      "information custom";

      widget {
         padding: 2rem;
         border-radius: 0.5rem;
         background: $background2;
         overflow: hidden;

         h3 {
            margin-bottom: 1rem;
         }
      }

      .placeholder {
         height: 200px;
      }

      profile-widget {
         grid-area: portrait;
      }

      patient-info-widget {
         grid-area: information;
      }

      .custom {
         grid-area: custom;
         display: flex;
         flex-flow: row wrap;
         margin-top: -1rem;

         widget {
            margin: 1rem;

            &.wide {
               flex: 1 1 calc(100% - 6rem); // 100% - 2*padding - 2*margin
            }

            &.small {
               flex: 0 1 calc(33.3% - 6rem);
            }
         }
      }
   }

   @include maxTablet {
      padding: 0;

      .dashboard {
         gap: 1rem;
         display: flex;
         flex-direction: column;

         .custom {
            flex-direction: column;
            margin: 0;
            gap: 1rem;

            widget {
               margin: 0;

               &.wide, &.small {
                  flex: 1 1 auto;
               }
            }
         }
      }
   }
}
