@import "../../colors";
@import "../../components";

:host {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 0 2rem;

   .dashboard {
      flex: 1 1 auto;
      display: grid;
      gap: 2rem;

      grid-template-columns: 1.25fr 1fr 1fr 1fr;
      grid-template-rows: 1.5fr 1fr .25fr 2.5fr;
      grid-template-areas:
      "portrait heart-rate body-temperature glucose"
      "portrait test-reports test-reports test-reports"
      "information test-reports test-reports test-reports"
      "information prescriptions prescriptions prescriptions";

      ::ng-deep {

         profile-widget {
            grid-area: portrait;
         }

         patient-info-widget {
            grid-area: information;
         }

         heart-rate-widget {
            grid-area: heart-rate;
         }

         body-temperature-widget {
            grid-area: body-temperature;
         }

         glucose-widget {
            grid-area: glucose;
         }

         test-reports-widget {
            grid-area: test-reports;
         }

         prescriptions-widget {
            grid-area: prescriptions;
         }

         > * {
            padding: 2rem;
            border-radius: 0.5rem;
            background: $background2;
         }
      }
   }
}
