@import "../colors";
@import "../responsive";

:host {
   flex: 1 1 auto;
   display: grid;
   grid-template-columns: fit-content(16rem) auto;
   grid-template-rows: 4rem auto 2rem;
   grid-template-areas:
  "nav header"
  "nav main"
  "nav footer";

   nav {
      grid-area: nav;
      background: $theme1;
      color: $theme2;
      width: 8rem;

      .title {
         height: 4.75rem;
      }

      a {
         cursor: pointer;
         display: flex;
         flex-direction: row;
         justify-content: center;
         width: 100%;
         margin-bottom: 2.5rem;
         position: relative;
         text-decoration: none;
         transition: all .5s ease-in-out;

         img {
            transition: all .2s ease-in-out;
            @include recolor($theme2, 1);
         }

         span {
            display: inline-block;
            overflow: hidden;
            width: 0;
            text-align: left;
            color: $theme2;
            font-size: 1.25rem;
            transition: width 1s ease-in-out;
         }

         &:hover {
            img {
               transform: scale(1.2);
               @include recolor($theme5, 1);
            }

            span {
               color: $theme5;
            }
         }

         &.active {
            img {
               @include recolor($theme5, 1);
            }

            span {
               color: $theme5;
            }

            &::before {
               display: block;
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               width: 0.3rem;
               height: calc(100% + .4rem);
               background: $theme3;
               margin-top: -.2rem;
               margin-bottom: -.2rem;
               border-top-right-radius: .3rem;
               border-bottom-right-radius: .3rem;
            }
         }
      }

      transition: all .5s ease-in-out;

      &:hover {
         width: 16rem;

         a {
            display: flex;

            img {
               margin-left: 3rem;
               margin-right: 1rem;
               flex: 0 0 3rem;
            }

            span {
               width: 100%;
            }
         }
      }
   }

   header {
      grid-area: header;
      background: $background;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 1rem 1rem 0;

      .user-info {
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: .5rem;
         margin-right: 2rem;
         position: relative;

         > img {
            display: inline-block;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
         }

         > a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
            font-size: .9rem;
         }
      }
   }

   main {
      grid-area: main;
      background: $background;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
   }

   footer {
      grid-area: footer;
      background: $background;
   }

   .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      z-index: 10;
      background: rgba(0, 0, 0, .5);
      justify-content: center;
      align-items: center;

      ::ng-deep {
         router-outlet + * {
            padding: 2rem;
            background: white;
            border-radius: .5rem;
         }
      }
   }

   &.active-popup {
      .overlay {
         display: flex;
      }
   }

   @include maxTablet {
      grid-template-columns: 100%;
      grid-template-rows: 4rem auto 2rem;
      grid-template-areas:
      "nav"
      "main"
      "footer";

      nav {
         width: unset;
         position: relative;

         &::before {
            content: '';
            position: absolute;
            top: 0;
            left: .25rem;
            width: 4rem;
            height: 4rem;
            background: url("../assets/icons/bars.svg") no-repeat center center;
            background-size: 1.5rem;
            @include recolor($theme5, 1);
            cursor: pointer;
         }

         > a {
            display: none;
         }

         &:hover {
            width: unset;

            > a {
               display: none;
            }
         }

         &.active {
            height: 100vh;

            > a {
               display: flex;

               img {
                  margin-left: 1rem;
               }
            }
         }
      }

      header {
         position: absolute;
         top: 0;
         right: 0;
         height: 4rem;
         width: 50%;
         background: transparent;
         padding: 0;

         .user-info {
            margin-right: 1.5rem;

            > img {
               border: 2px solid $theme5;
            }

            > a {
               color: $theme5;

               > img {
                  @include recolor($theme5, 1);
               }
            }
         }
      }
   }
}
