$background: #F5F6F8;
$background2: #FFFFFF;

$text: #061F24;
$text2: #5E6D72;
$text3: #586A6E;
$text4: #919CA0;
$text5: #5A6567;
$text6: #D9DDDE;

$border: #F3F3F3;
$border2: #D8D8D8;

$theme1: #0A586C;
$theme2: #92B4BD;
$theme3: #6BCBA6;
$theme4: #CAF4C2;

$success1: #44BC8E;
$success2: #40B186;

$info: #0A586C;
$info-background: #F3F7F8;

$warn: #F1AC37;
$warn-background: #FEFBF4;

$danger: #DC6255;
$danger-background: #FDF8F5
