@use "sass:math";

$background: #F5F6F8;
$background2: #FFFFFF;

$text: #061F24;
$text2: #5E6D72;
$text3: #586A6E;
$text4: #919CA0;
$text5: #5A6567;
$text6: #D9DDDE;

$border: #F3F3F3;
$border2: #D8D8D8;

$theme1: #0A586C;
$theme2: #92B4BD;
$theme3: #6BCBA6;
$theme4: #CAF4C2;
$theme5: #FFFFFF;

$success1: #44BC8E;
$success2: #40B186;

$info: #0A586C;
$info-background: #F3F7F8;

$warn: #F1AC37;
$warn-background: #FEFBF4;

$danger: #DC6255;
$danger-background: #FDF8F5;

// https://stackoverflow.com/a/62880368/4653997
@mixin recolor($color: #000, $opacity: 1) {
   $r: math.div(red($color), 255);
   $g: math.div(green($color), 255);
   $b: math.div(blue($color), 255);
   $a: $opacity;

   // grayscale fallback if SVG from data url is not supported
   $lightness: lightness($color);
   //filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity); // grayscale fallback

   // color filter
   $svg-filter-id: "recolor";
   filter: url('data:image/svg+xml;utf8,\
       <svg xmlns="http://www.w3.org/2000/svg">\
         <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
           <feColorMatrix type="matrix" values="\
             0 0 0 0 #{$r}\
             0 0 0 0 #{$g}\
             0 0 0 0 #{$b}\
             0 0 0 #{$a} 0\
           "/>\
         </filter>\
       </svg>\
       ##{$svg-filter-id}');
}
