@import "../../../colors";
@import "../../../components";

:host {
   text-align: center;

   img {
      height: 10rem;
      width: 10rem;
      border-radius: 1rem;
   }

   h2 {
      margin-top: 1rem;
      margin-bottom: 0;
   }

   h3 {
      margin: 0;
      color: $text4;
      font-weight: normal;
   }

   button {
      @include success_button();
   }
}
